.pagetitle p{
    font-size: 1rem;
}
.blogpage-content{
    display: flex;
    padding: 2rem;
}
.first-section{
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.first-section .blog{
    display: flex;
    padding-bottom: 3rem;
}
.second-section{
    width: 35%;
    padding: 1rem;
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
hr{
    margin-bottom: 3rem;
}
.blog-image img{
    width: 100%;
}

.blog-paragraph p{
    padding: 1rem 0.2rem;

}
.blogpage-content ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.blog-data ul li{
    font-size: 0.8rem;
}
.blog-data{
    width: 20%;
}
.blog-content{
    width: 80%;
}
#sep{
    display: none;
}
@media (max-width: 1177px) {
    .blogpage-content{
        flex-direction: column;
    }
    .first-section{
        width: 100%;
        padding: 0;
    }
    .second-section{
        width: 100%;
    }
    .first-section .blog{
        flex-direction: column;
    }
    .blog-content{
        width: 100%;
    }
    .blog-data{
        width: 100%;
    }
    .blog-data li{
        font-size: 8px;
    }
    .blog-data ul{
        flex-direction: row;
    }
    #sep{
        display: block;
    }
}
h3{
    font-size: 1.2rem;
    padding: 0.4rem;

}
h3 span{
    font-size: 1.1rem;
    color: white;
}
.readmore{
    background: #000033;
    color: white;
    border-radius: 5px;
    border-width: 0 !important;
    width: 7rem;
    padding: 0.3rem 0;
    font-size: 0.8rem;
}
.second-section h1{
    margin: 1rem 0;
}
hr.dotted{
    border: none;
    border-top: 1px dotted #aaa;
    /* margin: 20px 0; */
    margin-bottom: 0.1rem;
}

.second-section ul{
    padding-right: 4rem;
}