.features-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.feature{
    border: 2px solid #dfdfdf;
    width: 280px;
    margin-bottom: 2rem;
}
.plan-title{
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    color: #333355;
}
.cost{
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    color: #ff8989;
}
.f-data{
    border-bottom: 1px solid #eaeaea;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 2rem;

}
button{
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 0.5rem 2rem;
    background: #000033;
    color: white;
    border-radius: 0;
    border-width: 0 !important;
    border: 1px solid #000033;
}